<h1 id="chat_title">Chat</h1>
<div class="round-image-50"><%= image_tag @receiver.avatar.url(:thumb) %></div>
<p><%= @receiver.name %></p>
<p class="user_rating">User Rating:
  <% if @receiver.average_rating == nil %>
    <p>This user has no ratings yet</p>
  <% else %>
    <%= @receiver.average_rating %>
  <% end %>
<%= form_for @rating do |f| %>
  <%= f.hidden_field :ratee_id, value: @receiver.id %>
  <%= f.radio_button :rank, 1 %>
  <%= f.radio_button :rank, 2 %>
  <%= f.radio_button :rank, 3 %>
  <%= f.radio_button :rank, 4 %>
  <%= f.radio_button :rank, 5 %>
  <%= f.submit "Rate " + @receiver.name %>
<% end %>
<%= flash[:error] %>
<%= flash[:message] %>
<ul id="chat">
  <%= render @messages %>
</ul>


<%= form_for [@actual,Message.new], remote: true do |f| %>
  <%= f.hidden_field :match_id, value:params[:match_id] %>
  <%= f.hidden_field :receiver_id, value: @receiver.id %>
  <%= f.hidden_field :sender_id, value: current_user.id %>
  <%= f.text_field :content %>
  <%= f.submit "Send" %>
<% end %>

<%= subscribe_to "/matches/#{@actual.id}/messages" %>