<h1>Edit Your Preferences</h1>
<div class="large-8 large-centered columns">
  <% if flash[:errors] %>
    <% flash[:errors].each do |msg| %>
      <%= msg %>
  <br>
    <% end %>
  <% end %>

  <div class="index-box">
    <div class="row">
      <div class="large-12 columns">
        <%= form_for @user, url: users_path, html: { multipart: true } do |f| %>

        <div class="row">
          <div class="large-12 columns">
            <%= f.label :Email %>
            <%= f.text_field :email, placeholder: "Email" %>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <div>
            Male
            <%= radio_button("user","gender","Male") %>
            </div>
            <div>
            Female
            <%= radio_button("user","gender","Female") %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <p>Description: <%= @user.description %></p>
            <%= f.text_area :description, placeholder: "Description" %>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
          <%= f.label :age %>
          <%= f.select :age, (18..99) %>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <%= f.label :avatar %>
            <%= f.file_field :avatar, placeholder: "Avatar" %>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <%= f.label :activities %>
            <p>Click on activity to remove</p>
            <% @user.activities.each do |activity| %>
              <%= link_to activity.name, activity, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
              <%= f.submit "Update", :class => "button" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>