<div class="large-8 large-centered columns">
  <div class="index-box">
    <div class="row">
      <div class="large-12 columns">
        <%= form_for @user do |f| %>

        <div class="row">
          <div class="large-12 columns">
            <%= f.text_field :name, placeholder: "Name" %>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <%= f.text_field :email, placeholder: "Email" %>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <%= f.password_field :password, placeholder: "Password" %>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <%= f.text_field :gender, placeholder: "Gender" %>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <%= f.text_field :description, placeholder: "Description" %>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <%= f.text_field :age, placeholder: "Age" %>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <%= f.submit "Register", :class => "button" %>
            <% end %>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>