<h3><%= "Here are your matches  " + current_user.name %></h3>
<% @initiator_matched_users.each do |user| %>
  <%= user.name %>
  <p>Average Rating</p>
  <%= user.average_rating %>
<% end %>

<% @responder_matched_users.each do |user| %>
  <%= user.name %>
  <p>Average Rating</p>
  <%= user.average_rating %>
<% end %>