<div class="row">
	<div class="large-12 columns">
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="row">

			<div class="large-8 medium-6 small-12 columns">
				<img src="<%= @potential_match.avatar %>">
			</div>


			<div class="large-4 medium-6 hide-for-small columns">
				<div class="panel">
					<h4 class="hide-for-small">Description<hr/></h4>
					<h5 class="subheader"> <%=@potential_match.description%> </h5>
				</div>
			</div>
		</div>

		<div class="spacer"></div>

		<div class="row">
			<div class="large-3 medium-2 hide-for-small columns"></div>

			<div class="large-6 medium-8 columns">
				<div class="panel">
					<h4 class="text-center"><%=@potential_match.name%>,  <%=@potential_match.age%></h5>
				</div>

				<div class="large-6 medium-6 small-6 columns">
					<%= form_for @match do |f| %>
						<%= f.hidden_field :responder_id, value: @potential_match.id %>
						<%= f.submit "LIKE", :class => "button alert right" %>
					<% end %>					
					<!-- form for dislike goes here. Taking up exactly half of the field abover and aligns left -->
				</div>

				<div class="large-6 medium-6 small-6 columns">
					<%= form_for @match do |f| %>
					<%= f.hidden_field :responder_id, value: @potential_match.id %>
					<%= f.submit "DISLIKE", :class => "button success left" %>
					<% end %>
					<!-- form for like goes here. Taking up exactly half of the field abover and aligns right -->
				</div>

			</div>

			<div class="large-3 medium-2 hide-for-small columns"></div>
		</div>

	</div>
</div>


		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>


<h4>This is the match show page</h4>
<h4>Potential match is <%= @potential_match.name %></h4>
<p>Average Rating</p>
<%= @average_rating %>
<%= link_to "See more", user_path(@potential_match) %>
