<h4>This is the match show page</h4>
<h4>Potential match is <%= @potential_match.name %></h4>
<%= link_to "See more", user_path(@potential_match) %>


<%= form_for @match do |f| %>
<%= f.hidden_field :responder_id, value: @potential_match.id %>
<%= f.submit "LIKE" %>
<% end %>

<%= form_for @match do |f| %>
<%= f.hidden_field :responder_id, value: @potential_match.id %>
<%= f.submit "DISLIKE" %>
<% end %>

