<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="row">
	<div class="large-12 columns">
		<div class="row">

			<div class="large-8 medium-7 small-12 columns">
				<img src="<%= @potential_match.avatar %>">
			</div>

			<div class="large-4 medium-5 hide-for-small columns">
				<div class="panel">
					<h4 class="hide-for-small">Description<hr/></h4>
					<h5 class="subheader"> <%=@potential_match.description%> </h5>
				</div>
			</div>
		</div>

		<div class="spacer"></div>

		<div class="row">
			<div class="large-3 medium-2 hide-for-small columns"></div>

			<div class="large-6 medium-8 columns">
				<div class="panel">
					<h4 class="text-center"><%=@potential_match.name%>,  <%=@potential_match.age%></h5>
				</div>

				<div class="large-6 medium-6 small-6 columns">
					<%= form_for @match do |f| %>
					  <%= f.hidden_field :responder_id, value: @potential_match.id %>
					  <%= f.submit "DISLIKE", :class => "button alert right" %>
					<% end %>
				</div>

				<div class="large-6 medium-6 small-6 columns">
					<%= form_for @match do |f| %>
						<%= f.hidden_field :responder_id, value: @potential_match.id %>
						<%= f.submit "LIKE", :class => "button success left" %>
					<% end %>					
				</div>
			</div>
			<div class="large-3 medium-2 hide-for-small columns"></div>
		</div>

		<div class="spacer"></div>

		<div class="row">
			<div class="large-3 medium-2 hide-for-small columns"></div>
			<div class="large-6 medium-8 columns">
				
				<div class="panel">
					<h3 class="hide-for-small text-center">Activities</h3><hr/>

					<% @potential_match.activities.each do |activity| %>
						<div class="large-4 medium-4 small-6 columns">
							<p class="button secondary round"><%= activity.name %></p>
						</div>
					<% end %>
					<div class="spacer"></div>
					<div class="spacer"></div>
					<div class="spacer"></div>
				</div>
			</div>
			<div class="large-3 medium-2 hide-for-small columns"></div>
		</div>

	</div>
</div>


<p>Average Rating</p>
<%= @average_rating %>
