<h4>This is the match show page</h4>
<h4>Potential match is <%= @possible_user.name %></h4>
<%= link_to "See more", user_path(@possible_user) %>


<%= form_for @match do |f| %>
<%= f.hidden_field :responder_id, value: @possible_user.id %>
<%= f.submit "LIKE" %>
<% end %>

