<div class="row">
	<div class="large-12 columns">
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="row">

			<div class="large-8 medium-6 small-12 columns">
				<img src="<%= @potential_match.avatar %>">
			</div>


			<div class="large-4 medium-6 hide-for-small columns">
				<div class="panel">
					<h4 class="hide-for-small">Description<hr/></h4>
					<h5 class="subheader"> <%=@potential_match.description%> </h5>
				</div>
			</div>
		</div>

		<div class="spacer"></div>

		<div class="row">

			<div class="large-3 columns">
				<img src="http://placehold.it/500x500&text=Thumbnail">
				<div class="panel">
					<p>Description</p>
				</div>
			</div>

			<div class="large-6 columns">
				<img src="http://placehold.it/500x500&text=Thumbnail">
				<div class="panel">
					<p>Description</p>
				</div>
			</div>

			<div class="large-3 columns">
				<img src="http://placehold.it/500x500&text=Thumbnail">
				<div class="panel">
					<p>Description</p>
				</div>
			</div>
		</div>






		<footer class="row">
			<div class="large-12 columns"><hr/>
				<div class="row">

					<div class="large-6 columns">
						<p>© Copyright no one at all. Go to town.</p>
					</div>

					<div class="large-6 columns">
						<ul class="inline-list right">
							<li><a href="#">Link 1</a></li>
							<li><a href="#">Link 2</a></li>
							<li><a href="#">Link 3</a></li>
							<li><a href="#">Link 4</a></li>
						</ul>
					</div>

				</div>
			</div>
		</footer>

	</div>
</div>




<h4>This is the match show page</h4>
<h4>Potential match is <%= @potential_match.name %></h4>
<p>Average Rating</p>
<%= @average_rating %>
<%= link_to "See more", user_path(@potential_match) %>


<%= form_for @match do |f| %>
<%= f.hidden_field :responder_id, value: @potential_match.id %>
<%= f.submit "LIKE" %>
<% end %>

<%= form_for @match do |f| %>
<%= f.hidden_field :responder_id, value: @potential_match.id %>
<%= f.submit "DISLIKE" %>
<% end %>

