<div class="large-12 columns">
  <div class="row">
    <h3>Select Your Activities</h3>
    <%= flash[:error] %>
  </div>
  <div class="spacer"></div>
  <%= form_for @activities do |f| %>
  <div class="row">
    <div class="large-4 large-offset-1 medium-5 medium-offset-1 small-12 columns">
      <div class="activity_container">
        <img src="<%= Rails.configuration.image_urls[:weight_lifting] %>" />
        <div class="spacer"></div>
        <%= check_box_tag "name[]","Lifting" %>Lifting
      </div>
    </div>
    <div class="large-4 large-offset-2 medium-5 medium-offset-1 small-12 columns">
      <div class="activity_container">
        <img src="<%= Rails.configuration.image_urls[:tennis] %>"/>
        <div class="spacer"></div>
        <%= check_box_tag "name[]", "Tennis" %>Tennis
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-4 large-offset-1 medium-5 medium-offset-1 small-12 columns">
      <div class="activity_container">
        <img src="<%= Rails.configuration.image_urls[:basketball] %>"/>
        <div class="spacer"></div>
        <%= check_box_tag "name[]", "Basketball" %>Basketball
      </div>
    </div>
    <div class="large-4 large-offset-2 medium-5 medium-offset-1 small-12 columns">
      <div class="activity_container">
        <img src="<%= Rails.configuration.image_urls[:spin] %>"/>
        <div class="spacer"></div>
        <%= check_box_tag "name[]", "Spin" %>Spin
      </div>
    </div>
  </div>


  <div class="row">
    <div class="large-4 large-offset-1 medium-5 medium-offset-1 small-12 columns">
      <div class="activity_container">
        <img src="<%= Rails.configuration.image_urls[:running] %>"/>
        <div class="spacer"></div>
        <%= check_box_tag "name[]", "Running" %>Running
      </div>
    </div>
    <div class="large-4 large-offset-2 medium-5 medium-offset-1 small-12 columns">
      <div class="activity_container">
        <img src="<%= Rails.configuration.image_urls[:soccer] %>"/>
        <div class="spacer"></div>
        <%= check_box_tag "name[]", "Soccer" %>Soccer
      </div>
    </div>
  </div>



  <div class="row">
    <div class="large-4 large-offset-1 medium-5 medium-offset-1 small-12 columns">
      <div class="activity_container">
        <img src="<%= Rails.configuration.image_urls[:crossfit] %>"/>
        <div class="spacer"></div>
        <%= check_box_tag "name[]", "Crossfit" %>Crossfit
      </div>
    </div>
    <div class="large-4 large-offset-2 medium-5 medium-offset-1 small-12 columns">
      <div class="activity_container">
        <img src="<%= Rails.configuration.image_urls[:yoga] %>"/>
        <div class="spacer"></div>
        <%= check_box_tag "name[]", "Yoga" %>Yoga
      </div>
    </div>
  </div>


  <div class="row">
    <div class="large-4 large-offset-1 medium-5 medium-offset-1 small-12 columns">
      <div class="activity_container">
        <img src="<%= Rails.configuration.image_urls[:hiking] %>"/>
        <div class="spacer"></div>
        <%= check_box_tag "name[]", "Hiking" %>Hiking
      </div>
    </div>
    <div class="large-4 large-offset-2 medium-5 medium-offset-1 small-12 columns">
      <div class="activity_container">
        <img src="<%= Rails.configuration.image_urls[:racquetball] %>"/>
        <div class="spacer"></div>
        <%= check_box_tag "name[]", "Racquetball" %>Racquetball
      </div>
    </div>
  </div>

  <hr>
  
  <h3>I would like to be matched with:</h3>
  <div class="row">
    <div class="large-4 medium-4 columns">
      Male
      <%= radio_button("user","gender_preference","Male") %>
    </div>
    <div class="large-4 medium-4 columns">
      Female
      <%= radio_button("user","gender_preference","Female") %>
    </div>
    <div class="large-4 medium-4 columns">
      No Preference
      <%= radio_button("user","gender_preference","No preference") %>
    </div>
  </div>
  <hr>
  <%= f.submit %>

  <% end %>
</div>





