<div class="large-12 columns">
  <div class="row">
    <h3>Select Your Activities</h3>
    <%= flash[:error] %>
  </div>
  <%= form_for @activities do |f| %>
  <div class="row">
    <div class="large-4 large-offset-1 columns">
      <div class="activity_container">
        <img src="<%= Rails.configuration.image_urls[:weight_lifting] %>" />
        <div class="spacer"></div>
        <%= check_box_tag "name[]","Lifting" %>Lifting
      </div>
    </div>
    <div class="large-4 large-offset-2 columns">
      <div class="activity_container">
        <img src="<%= Rails.configuration.image_urls[:tennis] %>"/>
        <div class="spacer"></div>
        <%= check_box_tag "name[]", "Tennis" %>Tennis
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-4 large-offset-1 columns">
      <div class="activity_container">
        <img src="<%= Rails.configuration.image_urls[:basketball] %>"/>
        <div class="spacer"></div>
        <%= check_box_tag "name[]", "Basketball" %>Basketball
      </div>
    </div>
    <div class="large-4 large-offset-2 columns">
      <div class="activity_container">
        <img src="<%= Rails.configuration.image_urls[:spin] %>"/>
        <div class="spacer"></div>
        <%= check_box_tag "name[]", "Spin" %>Spin
      </div>
    </div>
  </div>


  <div class="row">
    <div class="large-4 large-offset-1 columns">
      <div class="activity_container">
        <img src="<%= Rails.configuration.image_urls[:running] %>"/>
        <div class="spacer"></div>
        <%= check_box_tag "name[]", "Running" %>Running
      </div>
    </div>
    <div class="large-4 large-offset-2 columns">
      <div class="activity_container">
        <img src="<%= Rails.configuration.image_urls[:soccer] %>"/>
        <div class="spacer"></div>
        <%= check_box_tag "name[]", "Soccer" %>Soccer
      </div>
    </div>
  </div>




  <div class="activity_container">
    <img src="http://rezatehranicohen.info/wp-content/uploads/rezatehranicohen-info/sites/593/Document.jpeg"/>
    <div class="spacer"></div>
    <%= check_box_tag "name[]", "Soccer" %>Soccer
  </div>
  




  <hr>
  
  <h3>I would like to be matched with:</h3>
  <div>
    Male
    <%= radio_button("user","gender_preference","Male") %>
  </div>
  <div>
    Female
    <%= radio_button("user","gender_preference","Female") %>
  </div>
  <div>
    No Preference
    <%= radio_button("user","gender_preference","No preference") %>
  </div>
  <hr>
  <%= f.submit %>

  <% end %>
</div>





