<div class="sticky">
  <nav class="top-bar" data-topbar role="navigation" class="row">
    <ul class="title-area">
      <li class="name">
        <h1 class="title-area"><%= link_to "Do You Even?", root_path %></h1>
      </li>
      <li class="toggle-topbar menu-icon">
        <a href="#"><span>Menu</span></a>
      </li>
    </ul>

    <!-- Right Nav Bar -->
    <section class="top-bar-section">
      <ul class="right">
        <% if logged_in? %>
          <li><%= link_to "Profile Page", user_path(current_user) %></li>
          <li><%= link_to "Matches", matches_path %></li>
          <li class="has-dropdown">
            <%= link_to "Edit Profile", root_path %>
            <ul class="dropdown">
              <li><%= link_to "Logout", logout_path, method: :delete, id: "logout-link" %></li>
            </ul>
          </li>
        <% end %>
      </ul>

      <!-- Left Nav Bar -->
      <ul class="left">
      </ul>
    </section>
  </nav>
</div>